*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 2rem auto;
    width: 75%;
}
.form-container{
    text-align: center;
}
.result-container{
    text-align: center;
    margin-top: 2rem;
}
.movie-data-list{
    list-style: none;
    line-height: 2rem;
}
span{
    font-weight: bold;
}
img{
    width: 250px;
    border-radius: 5px;
    margin-top: 2rem ;
}